<a href="https://colab.research.google.com/github/andouglasjr/PDS_IF_PAAS/blob/main/Atividade_MVC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Atividade Avaliativa

Você e sua equipe estão desenvolvendo um sistema de acesso. Basicamente, a ideia do sistema é criar uma interface biométrica para que os funcionários de uma empresa possam entrar no edifício de trabalho, marcando a hora de entra e saída.

Depois das fases iniciais de requisito e análise, vocês definiram que utilizarão o MVC como Arquitetura de Software.

# Dados do Grupo
Inserir aqui os nomes dos integrantes do grupo.
- João
- Maria

## Requisitos

O sistema precisa ser capaz de 
- Cadastrar, Atualizar, Ler e Deletar funcionários;
- Cadastrar horário de entrada e horário de saída dos funcionários;

O Banco de Dados para essa aplicação já foi projetado e desenvolvido por outra equipe de software. A tabela "Employee" é apresentada a seguir.

In [ ]:
#Rode essa célula para visualizar a estrutura da tabela Empregado e Ponto
import pandas as pd

employee = [
    {
        "id": 123,
        "name": "João",
        "departament": "Financeiro",
        "role": "Diretor"
    }
]

display(pd.DataFrame(employee))

access_point = [
    {
        "id": 1,
        "employee_id": 123,
        "day": "08-23-2022",
        "time_in":["08:00","14:00"],
        "time_out": ["12:00","18:00"]
    }
]

display(pd.DataFrame(access_point))

    id  name departament     role
0  123  João  Financeiro  Diretor

   id  employee_id         day         time_in        time_out
0   1          123  08-23-2022  [08:00, 12:00]  [14:00, 18:00]

## Acesso ao Banco

Neste exemplo não utilizaremos banco de dados SQL, apenas uma interface que simula a utilização de um banco, armazenando os dados em vetores do próprio python. Apenas rode as próximas células para utilização dos métodos no modelo que farão a interface com a tebela empregado e ponto de acesso, respectivamente.

In [ ]:
employees = list() #Variável global onde nossos dados serão armazenados que corresponde a tabela Empregados no Banco

#As duas próximas funções correspondem a função Create do CRUD

def create_employees_BD(employees_list): #criar a partir de uma lista
  global employees
  employees = employees_list

def create_employee_BD(id, name, departament, role): #criar apenas um item
  global employees
  employees.append({'id':id, 'name':name, 'departament':departament, 'role':role})

#As duas próximas funções correspondem a função Read do CRUD

def read_employee_BD(id): #ler apenas um empregado a partir do id
  global employees
  myitems = list(filter(lambda x:x['id'] == id, employees))
  return myitems[0]

def read_employees_BD(): #ler todos os empregados da lista
  global employees
  return [item for item in employees]

#A próxima função corresponde a função UPDATE do CRUD

def update_employee_BD(id, name, departament, role): #atualiza um determinado empregado pelo id
  global employees
  idxs_items = list(
        filter(lambda i_x: i_x[1]['id'] == id, enumerate(employees)))
  if idxs_items:
        i, item_to_update = idxs_items[0][0], idxs_items[0][1]
        employees[i] = {'id': id, 'name': name, 'departament': departament, 'role': role}
  
#A próxima função corresonde a função DELETE do CRUD

def delete_employee_BD(sigla): #deleta um deterinado empregado pelo id
  global employees
  idxs_items = list(
        filter(lambda i_x: i_x[1]['id'] == id, enumerate(employees)))
  if idxs_items:
        i, item_to_delete = idxs_items[0][0], idxs_items[0][1]
        del employees[i]

In [ ]:
access_points = list() #Variável global onde nossos dados serão armazenados que corresponde a tabela Ponto de Acesso no Banco

#As duas próximas funções correspondem a função Create do CRUD

def create_access_points_BD(access_points_list): #criar a partir de uma lista
  global access_points
  access_points = access_points_list

def create_access_point_BD(id, employee_id, day, time_in, time_out): #criar apenas um item
  global access_points
  access_points.append({'id':id, 'employee_id':employee_id, 'day':day, 'time_in':time_in, 'time_out': time_out})

#As duas próximas funções correspondem a função Read do CRUD

def read_access_point_BD(employee_id): #ler apenas um empregado a partir do employee_id
  global access_points
  myitems = list(filter(lambda x:x['employee_id'] == employee_id, access_points))
  return myitems[0]

def read_access_points_BD(): #ler todos os empregados da lista
  global access_points
  return [item for item in access_points]
 
#A próxima função corresonde a função DELETE do CRUD

def delete_access_point_BD(employee_id): #deleta um deterinado ponto de acesso pelo id do empregado
  global access_points
  idxs_items = list(
        filter(lambda i_x: i_x[1]['employee_id'] == employee_id, enumerate(access_points)))
  if idxs_items:
        i, item_to_delete = idxs_items[0][0], idxs_items[0][1]
        del access_points[i]

##Implementação da Arquitetura

Uma vez que o banco de dados pode ser acessado por meio da interface criada anteriormente, é possível agora criar a arquitetura MVC para a realização dos requisitos do sistema.

# Modelo

Inicie a estruturação da arquitetura pelo modelo. Primeiro, explique a função do modelo na arquitetura MVC:

Resposta: 

Implemente as funções necessárias de acesso ao BD. O construtor já está pronto, assim como o método create_employees.

In [ ]:
class Model(object):

    def __init__(self, employees):
        self.create_employees(employees)
    
    def create_employees(self, employees):
        create_employees_BD(employees);
    
    def read_employees(self):
        return read_employees_BD()

# View

Explique a função da view na arquitetura MVC.

Resposta:

Implemente as funções necessárias que apresentam ao usuário as informações solicitas. O método display_employees já está implementado.

In [ ]:
class View(object):

    @staticmethod
    def display_employees(employees):
        print('------------------------')
        for employee in employees:
            print('- ID : {}'.format(employee['id']))
            print('- Name : {}'.format(employee['name']))
            print('- Departament : {}'.format(employee['departament']))
            print('- Role : {}'.format(employee['role']))
            print('------------------------')

# Controller

Explique a função do Controller na arquitetura MVC.

Resposta:

In [ ]:
class Controller(object):

    def __init__(self, model, view):
        self.model = model
        self.view = view

    def show_employess(self):
        employess = self.model.read_employees()
        self.view.display_employees(employess)

# Rodando a Aplicação

In [ ]:
#Criando uma lista inicial
employee = [
    {
        "id": 1,
        "name": "Maria",
        "departament": "Financeiro",
        "role": "Diretora"
    },
    {
        "id": 2,
        "name": "João",
        "departament": "Gestão de Pessoa",
        "role": "Secretário"
    }
]


#Definindo o controlador
controlador = Controller(Model(employee), View())

In [ ]:
# Visualizando todos os empregados

controlador.show_employess()

------------------------
- ID : 1
- Name : Maria
- Departament : Financeiro
- Role : Diretora
------------------------
- ID : 2
- Name : João
- Departament : Gestão de Pessoa
- Role : Secretário
------------------------

#Atividades

- Criar os outros métodos necessários para realização dos requisitos (Apresentar empregado por id, deletar empregado, atualizar empregado, etc). Basta alterar as células anteriores e executa-las novamente. - 80 Pontos
- Criar o acesso a tabela de acesso de ponto, inserindo um novo horário de entrada ou saída sempre que a função checkPoint(id_employee, time) for chamado. - 20 Pontos